*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
/*
	background-color: #b3daff;*/
	background-size: cover;

	background-image: url(http://abroadship.org/wp-content/uploads/2017/05/4-1.jpg);
}

.menu{
	background-color: #595959;
	margin-left: -10px;
	margin-top: -10px;
	height: 80px;
	width: 1285px;
	position: f


}

 


 
/*
.menu ul li:nth-child(2){
	margin-top: -100px;
}*/
.menu img{
	margin-top: 10px;
	margin-left: 15px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}
.tit{
	color: white;
	font-size:40px;
	margin-left: 75px;
	margin-top: -70px;
}

.subtit{
	color: white;
	font-size: 15px;
	margin-left: 80px;
	margin-top: -8px;
}

 
.menu ul{
	margin-left: 1000px;
	margin-top: -50px;
}
.menu ul li{
	display: inline-block;
	color:  #99ccff;
	font-size: 50px;
	text-decoration: none;
	font-size: 20px;
	color: #99bbff;
	 text-align: right;
	 margin-right: 20px;
	 
	background-color:#333333; 
	padding: 10px 20px;
	border-radius: 30%;
	
	
}

.menu ul li a{

	color: white;
	text-decoration: none;

}

.menu ul li a:hover{
	border-radius: 10%;
 
	transition: 0.5s;
	color: #ff3300;

} 

.menu ul li:hover{
	border-radius: 10%;
	background-color: #666666;
	transition: 0.3s;
}

.down{
	display: none;
}


.menu ul li:hover .down{
    display: block; 
	position: absolute;

	transition: 0.8s;

	
}

.menu ul li:hover .down ul{
	margin: -10px;
	transition: 0.8s;
}

.menu ul li:hover .down ul li{
	display: block;
	margin-top:-10px;
	margin-left: -30px;
	border-radius: 10%;
	/*padding-left: 10px;
	padding-right: 20px;
*/	transition: 0.8s;
color: #ff3300;
text-align: left;
	 
}

.menu ul li:hover .down ul li:first-child{
	margin-top: 15px;
	transition: 0.8s;

}
.cu{
	margin-top: 510px;
	  margin-left: 10px;
}

.fa {
	margin-right: 5px;

  font-size: 20px;
  padding-top: 10px;
  width: 40px;
  height: 40px;
   
  text-align: center;
  text-decoration: none;

  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: white;
}


.slidershow{
  width: 300px;
  height: 300px;
  overflow: hidden;

  border-radius: 10%;
}
.middle{
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

}

.bar{
	border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #666666;
  opacity: 0.6;
  margin: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background:#666666;
  opacity: 0.6;
}


input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;

   
}

.slide{
  width: 20%;
  transition: 0.6s;
 
}

.slide img{
  width: 100%;
  height: 100%;
 
}

#r1:checked ~ .s1{

  
  margin-left: 0;
}
#r2:checked ~ .s1{

   
  margin-left: -20%;
}
#r3:checked ~ .s1{

   
  margin-left: -40%;
}
#r4:checked ~ .s1{

  
  margin-left: -60%;
}
#r5:checked ~ .s1{

  
  margin-left: -80%;
}

.text{

	color: white;
	font-family: 'Dancing Script', cursive;
	font-size: 40px;
	margin-left: 62%; 
	margin-top: 40px;
	text-shadow: 2px 5px 10px #00ffff;
}

.text2{

	color: WHITE;
	font-size: 20px;
	margin-left:35%;
	margin-top: 10px;
}

.text2 section:first-child{
	font-size: 40px;
	text-decoration: bold;
	font-family: 'Dancing Script', cursive;
}
